* {
  border: none;
  border-radius: 0;
  font-family: "Ubuntu Nerd Font";
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid #333333;
  color: #ffffff;
}

window#waybar.solo {
  border-bottom: 3px solid #ed812d;
}

window#waybar.hidden {
  opacity: 0;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: #b2b2b2;
  border-bottom: 3px solid transparent;
  margin: 2px 0px 0px 0px;
}

#workspaces button.focused {
  border-radius: 1px;
  background-color: rgba(24, 27, 35, 0.1);
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
  margin: 2px 0px 0px 0px;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
  margin-bottom: 3px;
}

#mode {
  background-color: rgba(24, 27, 35, 0.1);
  border-radius: 1px;
  padding: 3px 10px;
  color: #ffe4ce;
  margin: 2px 0px 0px 20px;
  border-bottom: 3px solid #ffffff;
}

/* generate color scheme: https://coolors.co/ */
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#idle_inhibitor {
  border-radius: 1px;
  padding: 3px 10px;
  margin: 2px 3px 4px 3px;
  color: #000000;
}

#clock {
  background-color: #577590;
}

#battery {
  background-color: #4d908e;
}

#battery.charging {
  color: #fba5d4;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  background: #f9844a;
}

#memory {
  background: #f9c74f;
}

#backlight {
  background: #43aa8b;
}

#network {
  background: #f8961e;
}

#network.disconnected {
  background: #f53c3c;
}

#pulseaudio {
  background: #f3722c;
}

#pulseaudio.muted {
  background: #ffadad;
  color: #2a5c45;
}

#custom-media {
  background: #66cc99;
  color: #2a5c45;
}

.custom-spotify {
  background: #66cc99;
}

.custom-vlc {
  background: #ffa000;
}

#temperature {
  background: #90be6d;
}

#temperature.critical {
  background: #eb4d4b;
}

#tray {
  background-color: #ffc6ff;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}
